body {
    text-align: center;
    color:white;
}
.jumbotron {
    margin:10px;
    background-image: url("https://images.unsplash.com/photo-1496243975092-6ec259c776e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format");
    
}
.container {
    background-image: url("https://farm5.staticflickr.com/4273/34378170890_3901a0ac25_k.jpg");
}